* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: linear-gradient(rgb(152, 33, 207),rgb(255, 255, 255));
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/avenir/avenir-light.otf');
}

body {
    /* text-align: center; */
    font-family: 'Avenir Light';
    background-color: white;
}

#center {
    text-align: center;
}

a { 
    color: inherit; 
    text-decoration: none;
} 

p:before {
    content: "   ";
}

/* ==================
   For the Navbar:
================== */
#gitlink {
    display: block;
    width: 170px;
    height: 170px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}

#gitCont {
    position: fixed;
    right: 0;
    z-index: 12;
    transition: .2s;
    filter: drop-shadow(0px 4px 18px rgba(0,0,0,0.6));
}

#gitCont:hover {
    filter: drop-shadow(0px 4px 18px rgba(0,0,0,0.7));
    transition: .2s;
}

#github {
    width: 170px;
    height: 170px;
    background-image: url("../images/logos/octocat.png");
    background-color: #424550;
    background-position: right top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1))
}

.navBar {
    height: 82px;
    width: 100%;
    background-color: rgba(162, 0, 211, 0);
    position: fixed;
    z-index: 10;
    overflow: hidden;
    color: white;
    transition: .2s;
}

.whiteBar {
    background-color: white;
    color: black;
}


#navBumper {
    height: 82px;
}

.barItem {
    display: inline-block;
    font-size: 20px;
    padding: 26px;
    padding-right: 32px;
    padding-left: 32px;
    cursor: pointer;
    /* transition: .3s ease; */
    padding-bottom: 10px;
}
.barItem:hover { 
    color: rgb(207, 171, 207);
    transition: .3s ease;
}

.barItem:hover + .under {
    opacity: 1;
    width: 70%;
    background-color: rgb(255, 255, 255);
    transition: .2s;
}

.under {
    opacity: 0;
    height: 4px;
    background-color: rgb(255, 0, 212);
    width: 0%;
    -webkit-transition: width .3s;
    transition: width .3s;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: auto;
    margin-right: auto;
}

.barItem:hover + .under.white {
    opacity: 1;
    width: 70%;
    background-color: rgb(0, 0, 0);
    transition: .2s;
}

.under.active {
    opacity: 1;
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.barCont {
    display: inline-block
}

#contbumper {
    width: 170px;
}

#cornerTitle {
    text-shadow: 1px 2px 3px rgba(0,0,0,.1);
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    float: left;
    position: relative;
    top: 15px;
    left: 25px;
    margin-right: 8%;
    animation-name: logofade;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: .3s;
    animation-fill-mode: both;
}

@keyframes logofade {
    from {
        transform:translate(-200px,0px);
        opacity: 0;
    }
    to {
        transform:translate(0px,0px);
        opacity: 1;
    }
}

/* ===========================
   For the footer:
============================ */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;       
    background-color: black;
    z-index:100;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#footer-wrap {
    padding-bottom: 80px;    /* Footer height */
}
/* ===========================
   For the top welcome section:
============================ */

#mainWelcome {
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    background-image: var(--main-color);
    z-index: 4;
    position: relative;
    padding-bottom: 0px;
    transform: translate(0px,-82px);
    margin-bottom: 0;
    padding-top: 102px;

}

#main-title {
    text-shadow: 2px 4px 15px rgba(0,0,0,.5);
    font-family: 'Source Code Pro', monospace;
    font-size: 60px;
    margin-bottom: 15px;
    margin-top: 40px;
}

#tagline {
    font-size:20px;
    margin-bottom: 0px;
}


/* =================================
   For the generic following strips:
===================================*/
.mainStrip {
    position: relative;
    z-index: 3;
    height: 400px;
    background-color: rgb(255, 255, 255);

}

.right {
    position: absolute;
    right: 0px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: inherit;
}

.left {
    position: absolute;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: inherit;
}

#mountains {
    margin:0;
    padding:0;
    z-index: 100;
    display: block;
}

/* =================================
   For the buttons
===================================*/

.buttonStyle {
    width: 17%;
    height: 45px;
    outline: none;
    background-color: rgba(0,0,0,0);
    border: .17pc white solid;
    font-size: 100%;
    font-family: 'Avenir Light';
    color: white;
    background-color: rgba(0, 59, 107, 0.2);
    cursor: pointer;
    transition: all ease .13s;
    position: relative;
}

.buttonStyle:hover {
    background-color:rgba(0, 74, 134, 0.493);
    transition: all ease .33s;
    box-shadow: 1px 2px 12px rgba(0,0,0,.2);
    top: 2px;
}

#gitButton {
    position: relative;
    top: 30px;
    min-width: 120px;
}
#gitButton:hover {
    top: 28px;
    background-color: rgba(255, 255, 255, 0.575);
    color: black;
}

.third {
    width: 30%;
    background-color: black;
    display:inline-block;
    height: 200px;
}

#thirdsStrip {
    height: 200px;
    transform:translate(0px,-82px);
}