:root {
    --blue: rgb(40, 187, 255);
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

#scrollSection {
    width: 100%;
    margin-top: 70px;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

.projectThumb {
    height: 140px;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0, 0, 0);
    border: 6px solid white;
    box-shadow: 7px 7px 0px rgb(40, 187, 255);
    display: inline-block;
    cursor: pointer;
    transition: .2s; 
    position: relative;

}

.projectThumb:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 9px 11px 0px rgb(40, 187, 255);
    transform: translate(0, -2px);
}

.projectThumb:before {  
    position: absolute;
    content: "";
    width: 150px;
    height: 140px;
    /* opacity: 0; */
    left: 0;
    background-color: rgba(208, 234, 254, 0.93);
    transition:.2s;
}


h3 {
    color: rgb(0, 0, 0);
    line-height: 120px;
    transition: .2s;
    z-index:1000;
    position:absolute;
    text-align: center;
    width: 100%;
}

.projectThumb:hover > h3 {
    color: rgb(255, 255, 255);
}

.projectThumb:hover:before {
    background-color: rgba(255, 255, 255, 0.082);
}


#tetrisThumb {
    background: url("../images/projects/thumbnails/tetris.png");
    background-repeat: no-repeat;
    background-position: -2px 0px;
    background-size: 110%;
}

#clplotThumb {
    background-image: url("../images/projects/thumbnails/clplot.png");
    background-repeat: no-repeat;
    background-position: -2px 0px;
    background-size: 110%;

}

#programmingSection {
    margin-top: 100px;
    height: 400px;
    background-color: rgb(17, 160, 255);
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
}